html,body{
	margin:0;
}
.header{
	background-color:#666;
	text-align:right;
	border-bottom:1px solid #000;
}
.nav-container{
	padding:4px 10px;
}
.header a:link,.header a:hover,.header a:visited{
	color:#fff;
	text-decoration: none;
}
.header a:hover{
	text-decoration: underline;
}
a.card-name:link,a.card-name:hover,a.card-name:visited{
	color:#1c94c4;
}
.remove-card{
	display:inline-block;
	height:12px;
	width:12px;
	background: transparent url(/img/remove-card.png) no-repeat;
}
.remove-card:hover{
	background-image: url(/img/remove-card-hover.png)
}
.card-count{
	width:40px;
}