html,body{
	margin:0;
}
body{
	background:#66FFFF url(pwp2.jpg) repeat-x repeat-y;
}

.header{
	background-color:#666;
	text-align:right;
	border-bottom:1px solid #000;
}
.nav-container{
	padding:4px 10px;
}
a:link,a:hover,a:visited{
	color:#fff;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.content-container{
	margin:0 auto;
	width:980px;
}
#awesome{
	margin-top:20px;
	height:670px;
	background:transparent url(/img/banding-landing.jpg) no-repeat;
}